aiofiles
aiohttp
asyncio
fastai==2.0.6
fastai2==0.0.30
fastcore==1.0.0
fastapi[all]
torch==1.6.0+cpu 
torchvision==0.7.0+cpu
torchaudio==0.6.0
-f https://download.pytorch.org/whl/torch_stable.html
ipykernel==5.3.4
numpy==1.19.1
Pillow==7.2.0
librosa==0.8.0
